<div  style="
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  ">
    <div style="
      height: 100px;
    ">
    <div style="
      width: fit-content;
      display: flex;
      margin: 0 auto;
      padding: 20px 0;
    ">
    <img src="https://dadotools.netlify.app/logoDaDo_vermelho.svg" width="62" alt="">
    <p style="
      margin-left:20px;
      font-size: 24px;
      font-weight: 700;
      align-items: center;
      align-content: center;
      ">Dado Tools
    </p>
    </div>

    </div>

    {{{ body }}}

    <div style="
      box-sizing: border-box;
      width: 100%;
      height: fit-content;
      line-height: 25px;
      background: #333;
      color: #A6A6A6;
      padding: 20px 10px;
      ">
      <div style="
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        ">
        <p style="padding: 0;
        margin: 0;">Equipe controladoria / BI</p>
        <center>
          <a href="mailto:vagner.lenon@dadobier.com.br" style="
            text-decoration: none;
            color: #A6A6A6;
            ">vagner.lenon@dadobier.com.br
          </a>
        </center>
      </div>
      <div style="
        display: flex;
        margin-top: 10px;
        text-align: justify;
      ">
        Esta é uma notificação automática do sistema Dado Tools. Por favor, não responda a este e-mail.
      </div>
    </div>
  </div>
